* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif, "Arial";
  background-color: #fff; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.container-nav {
  max-width: 725px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.holder-container {
  max-width: 626px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.header .contact {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .contact .time-work, .header .contact .phones, .header .contact .address, .header .contact .tel {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
  .header .contact .tel:hover {
    color: #340F0F; }
  .header .contact .btn {
    padding: 18px 22px;
    border: 1px solid #340F0F !important;
    border-radius: 0; }
    .header .contact .btn:hover {
      background-color: lightgray; }
  .header .contact .contact-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F;
    margin-right: 6px;
    display: inline-block; }
  .header .contact .new-line {
    display: inline-block; }
.header .header-nav {
  padding: 20px 0; }
  .header .header-nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .header-nav img {
    width: 100%;
    height: auto; }
  .header .header-nav .nav-link {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #636363; }
    .header .header-nav .nav-link:hover {
      color: #340F0F; }
  .header .header-nav .logo-big {
    display: none; }
  .header .header-nav .toggle-menu {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    margin-right: 21px;
    margin-left: auto; }
    .header .header-nav .toggle-menu span {
      position: absolute;
      background-color: #000;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: -5px;
      opacity: 1; }
      .header .header-nav .toggle-menu span:before {
        position: absolute;
        background: #000;
        width: 50px;
        height: 2px;
        bottom: 10px;
        content: "";
        display: block; }
      .header .header-nav .toggle-menu span:after {
        position: absolute;
        background: #000;
        width: 50px;
        height: 2px;
        top: 10px;
        content: "";
        display: block; }
  .header .header-nav .toggle-menu.menu-on span {
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .header .header-nav .toggle-menu.menu-on span:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .header .header-nav .toggle-menu.menu-on span:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }

@media (max-width: 768px) {
  .toggle-menu {
    display: block !important; }

  .menu {
    display: block;
    text-align: center; }
    .menu a {
      display: block;
      font-size: 16px;
      padding: 15px 0; }

  .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0%;
    border-top: 1px solid #fff;
    background-color: #a0a0a0;
    padding: 25px 0;
    display: none; }

  .main-nav.open {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .main-nav.open .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -100px; } }
@media (max-width: 768px) {
  .time-work, .phones {
    display: none !important; }

  .btn {
    padding: 7px 10px !important; } }
.banner {
  background: url("../../public/images/bg-banner.png") center no-repeat;
  background-size: cover;
  padding: 76px 0 54px 0; }
  .banner .banner-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 30px; }
  .banner .banner-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 25px; }
  .banner .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0; }
    .banner .btn:hover {
      background-color: lightgray; }
  .banner .button {
    margin-bottom: 112px; }
  .banner .image {
    width: 82px;
    height: 82px; }
    .banner .image img {
      width: 100%;
      height: auto; }
  .banner .furniture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .banner .furniture .furniture-text {
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      text-transform: lowercase;
      color: #000000; }
    .banner .furniture .furniture-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 33px; }
  @media (max-width: 1024px) {
    .banner .furniture {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 768px) {
    .banner {
      text-align: center; }
      .banner .furniture-link {
        margin: 10px 33px; } }

.linens {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#F0ECDD), color-stop(49.93%, #FFFFF4), color-stop(64.36%, #FFFFF4), to(#EAE5D5));
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0 !important; }
  .linens .image {
    max-width: 625px;
    max-height: 399px; }
    .linens .image img {
      width: 100%;
      height: auto; }
  .linens .linens-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FEC940;
    margin-bottom: 35px; }
  .linens .linens-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 25px; }
  .linens .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0; }
    .linens .btn:hover {
      background-color: lightgray; }
  .linens .button {
    display: inline-block; }
  .linens .button.f {
    margin-right: 68px; }
  .linens .act {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .linens .action {
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    padding: 24px 70px 97px 31px;
    position: relative; }
    .linens .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -7%;
      right: -3%; }
      .linens .action .image-act img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0; }
  .linens .slick-prev:before, .linens .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 1px;
    line-height: 1;
    opacity: 10.75;
    color: black; }
  .linens .slick-prev {
    left: 700px; }
  .linens .slick-next {
    right: 39px; }
  .linens .slick-prev, .linens .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #E2E2E2;
    border: 1px solid #E2E2E2;
    outline: none;
    background: transparent;
    z-index: 9; }
  .linens .slick-prev:active, .linens .slick-next:active {
    color: #000;
    border: 1px solid #E2E2E2;
    background: #E2E2E2; }
  .linens .slick-dots {
    position: absolute;
    bottom: 16%;
    display: block;
    width: 20%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    right: 430px; }
  .linens .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin: 0 23px 0 5px; }
  .linens .slick-dots li button:before {
    font-size: 16px; }
  @media (max-width: 1024px) {
    .linens {
      padding: 15px 0; }
      .linens .slick-dots {
        position: absolute;
        bottom: 16%;
        display: block;
        width: 20%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        right: 277px; }
      .linens .slick-prev {
        left: 505px; }
      .linens .slick-next {
        right: 0; }
      .linens .button.f {
        margin-right: 0;
        margin-bottom: 15px; } }
  @media (max-width: 992px) {
    .linens .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -5%;
      right: -4%; }
    .linens .slick-prev {
      left: 490px; }
    .linens .slick-dots {
      right: 265px; } }
  @media (max-width: 768px) {
    .linens .action {
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .linens .action .image-act {
      top: -8%;
      right: -3%; }
    .linens .button.f {
      margin-right: 67px; }
    .linens .slick-prev {
      left: 30px; }
    .linens .slick-next {
      right: 32px; }
    .linens .slick-prev, .linens .slick-next {
      top: 78%; }
    .linens .slick-dots {
      bottom: 7%;
      width: 100%;
      right: 0;
      left: 0; } }
  @media (max-width: 568px) {
    .linens .action .image-act {
      top: -7%;
      right: -4%; }
    .linens .button.f {
      margin-right: 0; }
    .linens .slick-prev {
      left: 20px; }
    .linens .slick-next {
      right: 22px; }
    .linens .slick-prev, .linens .slick-next {
      top: 78%; } }
  @media (max-width: 480px) {
    .linens .action .image-act {
      top: -6%;
      right: -5%; } }
  @media (max-width: 320px) {
    .linens .action .image-act {
      top: -6%;
      right: -5%; }
    .linens .slick-prev {
      left: 2px; }
    .linens .slick-next {
      right: 7px; } }

.palace {
  padding-top: 118px;
  padding-bottom: 144px; }
  .palace .palace-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 17px;
    margin-bottom: 35px; }
  .palace .palace-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000; }
  .palace .video {
    height: auto;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto; }
  .palace .video iframe {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .palace {
      text-align: center; } }

.curtains {
  background: #F6F6F6;
  padding-top: 77px; }
  .curtains .curtains-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px; }
  .curtains .curtains-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 60px; }
  .curtains .image-slider {
    max-width: 633px;
    height: 542px; }
    .curtains .image-slider img {
      width: 100%;
      height: auto; }
  .curtains .for-what {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 10px;
    margin-bottom: 42px; }
  .curtains hr {
    background: #DFDFDF;
    margin-bottom: 27px; }
  .curtains .holder {
    background: #FFFFFF;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding-top: 37px; }
    .curtains .holder img {
      width: 100%;
      height: auto; }
    .curtains .holder .holder-text {
      margin-bottom: 24px; }
    .curtains .holder .image {
      margin-top: 14px;
      width: 63px;
      height: 63px; }
    .curtains .holder .hold {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 768px) {
    .curtains {
      text-align: center; }
      .curtains .image-slider {
        margin-left: auto;
        max-width: 633px;
        height: 542px;
        margin-right: auto; } }
  @media (max-width: 400px) {
    .curtains .curtains-title {
      font-size: 26px; } }
