* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif, "Arial";
  background-color: #fff; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.container-nav {
  max-width: 725px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.holder-container {
  max-width: 626px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2; }
  .header .header-fixed {
    display: none !important; }
  .header .contact {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .contact .time-work, .header .contact .phones, .header .contact .address, .header .contact .tel {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #340F0F;
      display: flex;
      margin: 0; }
    .header .contact .tel:hover {
      color: #340F0F; }
    .header .contact .btn {
      padding: 18px 22px;
      border: 1px solid #340F0F !important;
      border-radius: 0; }
      .header .contact .btn:hover {
        background-color: lightgray; }
    .header .contact .contact-title {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #340F0F;
      margin-right: 6px;
      display: inline-block; }
    .header .contact .new-line {
      display: inline-block; }
  .header .header-nav {
    border-bottom: 14px solid #fff !important;
    background-color: #fff;
    padding: 20px 0;
    z-index: 999999; }
    .header .header-nav .menu {
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .header-nav img {
      width: 100%;
      height: auto; }
    .header .header-nav .nav-link {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #636363; }
      .header .header-nav .nav-link:hover {
        color: #340F0F; }
    .header .header-nav .toggle-menu {
      position: relative;
      width: 18px;
      height: 12px;
      cursor: pointer;
      display: none; }
      .header .header-nav .toggle-menu span {
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 2px;
        top: 50%;
        right: 0;
        margin-top: -5px;
        opacity: 1; }
        .header .header-nav .toggle-menu span:before {
          position: absolute;
          background: #000;
          width: 18px;
          height: 2px;
          bottom: 5px;
          content: "";
          display: block; }
        .header .header-nav .toggle-menu span:after {
          position: absolute;
          background: #000;
          width: 18px;
          height: 2px;
          top: 5px;
          content: "";
          display: block; }
    .header .header-nav .toggle-menu.menu-on span {
      background-color: transparent;
      transition: all .3s ease-in-out; }
      .header .header-nav .toggle-menu.menu-on span:before {
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out; }
      .header .header-nav .toggle-menu.menu-on span:after {
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out; }
    .header .header-nav .mobile-header {
      display: none; }
    .header .header-nav .menu-bottom {
      display: none; }
  @media (max-width: 992px) {
    .header .menu-bottom {
      display: block !important; }
      .header .menu-bottom .menu-bottom-inner {
        display: flex;
        border-top: 1px solid #000; }
        .header .menu-bottom .menu-bottom-inner .menu-bottom-title {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          margin-right: 60px; }
        .header .menu-bottom .menu-bottom-inner .menu-bottom-text {
          display: flex;
          flex-direction: column;
          align-items: baseline; }
        .header .menu-bottom .menu-bottom-inner .time {
          margin-top: 28px; }
        .header .menu-bottom .menu-bottom-inner .tel {
          padding: 0 !important;
          color: #340F0F; }
        .header .menu-bottom .menu-bottom-inner .contact-title, .header .menu-bottom .menu-bottom-inner .new-line {
          padding: 15px 0; }
    .header .contact {
      display: none !important; }
    .header .logo-big {
      display: inline-block;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
    .header .toggle-menu {
      display: block !important;
      margin-right: 80px;
      margin-left: auto;
      margin-top: -4%; }
    .header .mobile-header {
      display: block !important;
      text-align: center; }
    .header .menu {
      display: block;
      text-align: center; }
      .header .menu a {
        display: block;
        font-size: 16px;
        padding: 15px 0; }
    .header .main-nav {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 100%;
      border-top: 1px solid #fff;
      background-color: #fff;
      padding: 25px 0;
      display: none; }
    .header .main-nav.open {
      display: block; }
    .header .main-nav.open .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .header .menu .logo {
      display: none; } }
  @media (max-width: 768px) {
    .header .time-work, .header .phones {
      display: none !important; }
    .header .btn {
      padding: 7px 10px !important; } }
  @media (max-width: 576px) {
    .header .header-nav {
      border-bottom: 4px solid #fff !important; }
    .header .logo-big {
      margin-left: -5%; }
    .header .toggle-menu {
      margin-right: 45px;
      margin-left: auto;
      margin-top: -15px; }
    .header .time {
      margin-top: 24px !important; }
    .header .menu-bottom-title {
      margin-right: 0 !important; }
    .header .main-nav {
      width: 100%; } }

.banner {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  background: url("../../public/images/bg-banner.png") center center no-repeat;
  background-size: cover;
  padding: 264px 0 54px 0; }
  .banner .banner-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 30px; }
  .banner .banner-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 25px; }
  .banner .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0; }
    .banner .btn:hover {
      background-color: lightgray; }
  .banner .button {
    margin-bottom: 70px; }
  .banner .image {
    width: 82px;
    height: 82px; }
    .banner .image img {
      width: 100%;
      height: auto; }
  .banner .furniture {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px; }
    .banner .furniture .furniture-text {
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      text-transform: lowercase;
      color: #000000; }
    .banner .furniture .furniture-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  @media (max-width: 992px) {
    .banner .button {
      margin-bottom: 28px; }
    .banner .banner .banner-title {
      margin: 0 0 7px; }
    .banner .image {
      width: 70px;
      height: 70px; } }
  @media (max-width: 768px) {
    .banner .furniture li {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px; } }
  @media (max-width: 767px) {
    .banner {
      text-align: center; } }
  @media (max-width: 576px) {
    .banner {
      padding: 193px 0 54px 0; }
      .banner .banner-title {
        margin: 0px 0 50px; }
      .banner .banner .banner-text {
        margin-bottom: 42px; }
      .banner .button {
        margin-bottom: 101px; } }
  @media (max-width: 415px) {
    .banner {
      padding: 330px 0 54px 0; }
      .banner .banner-title {
        font-size: 43px;
        line-height: 49px;
        margin: 0px 0 2px; }
      .banner .banner-text {
        font-family: "Poiret One", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        text-transform: lowercase;
        color: #000000;
        margin-bottom: 0; }
      .banner .button {
        margin-bottom: 22px; }
      .banner .btn {
        padding: 9px 15px 9px 15px; }
      .banner .furniture {
        margin-bottom: 206px; }
      .banner .furniture li {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px; }
      .banner .image {
        width: 42px;
        height: 42px; }
      .banner .furniture-text {
        font-size: 20px !important;
        line-height: 17px !important; } }

.linens {
  position: relative;
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  display: flex;
  margin-bottom: 0 !important; }
  .linens .image {
    max-width: 625px;
    max-height: 399px; }
    .linens .image img {
      width: 100%;
      height: auto; }
  .linens .linens-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FEC940;
    margin-bottom: 35px; }
  .linens .linens-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 25px; }
  .linens .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0; }
    .linens .btn:hover {
      background-color: lightgray; }
  .linens .button {
    display: inline-block; }
  .linens .button.f {
    margin-right: 68px; }
  .linens .act {
    display: flex;
    align-items: center; }
  .linens .action {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    padding: 24px 70px 97px 31px;
    position: relative; }
    .linens .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -7%;
      right: -3%; }
      .linens .action .image-act img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0; }
  .linens .slick-prev:before, .linens .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 1px;
    line-height: 1;
    opacity: 10.75;
    color: black; }
  .linens .slick-prev {
    left: 700px; }
  .linens .slick-next {
    right: 39px; }
  .linens .slick-prev, .linens .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #E2E2E2;
    border: 1px solid #E2E2E2;
    outline: none;
    background: transparent;
    z-index: 9; }
  .linens .slick-prev:active, .linens .slick-next:active {
    color: #000;
    border: 1px solid #E2E2E2;
    background: #E2E2E2; }
  .linens .slick-dots {
    position: absolute;
    bottom: 16%;
    display: block;
    width: 20%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    right: 430px; }
  .linens .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin: 0 23px 0 5px; }
  .linens .slick-dots li button:before {
    font-size: 16px; }
  @media (max-width: 1024px) {
    .linens {
      padding: 15px 0; }
      .linens .slick-dots {
        position: absolute;
        bottom: 16%;
        display: block;
        width: 20%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        right: 277px; }
      .linens .slick-prev {
        left: 505px; }
      .linens .slick-next {
        right: 0; }
      .linens .button.f {
        margin-right: 0;
        margin-bottom: 15px; } }
  @media (max-width: 992px) {
    .linens .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -5%;
      right: -4%; }
    .linens .slick-prev {
      left: 490px; }
    .linens .slick-dots {
      right: 265px; } }
  @media (max-width: 768px) {
    .linens .action {
      text-align: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
    .linens .action .image-act {
      top: -8%;
      right: -3%; }
    .linens .button.f {
      margin-right: 67px; }
    .linens .slick-prev {
      left: 30px; }
    .linens .slick-next {
      right: 32px; }
    .linens .slick-prev, .linens .slick-next {
      top: 78%; }
    .linens .slick-dots {
      bottom: 7%;
      width: 100%;
      right: 0;
      left: 0; }
    .linens .image {
      max-width: 625px;
      max-height: 399px;
      margin-left: auto;
      margin-right: auto; } }
  @media (max-width: 568px) {
    .linens .action .image-act {
      top: -7%;
      right: -4%; }
    .linens .button.f {
      margin-right: 0; }
    .linens .slick-prev {
      left: 20px; }
    .linens .slick-next {
      right: 22px; }
    .linens .slick-prev, .linens .slick-next {
      top: 77%; }
    .linens .action {
      padding: 24px 28px; } }
  @media (max-width: 480px) {
    .linens .action .image-act {
      top: -6%;
      right: -5%; }
    .linens .linens .slick-prev, .linens .linens .slick-next {
      top: 72%; }
    .linens .linens .btn {
      padding: 9px 18px 9px 18px; } }
  @media (max-width: 320px) {
    .linens .action .image-act {
      top: -6%;
      right: -5%; }
    .linens .slick-prev {
      left: 2px; }
    .linens .slick-next {
      right: 7px; } }

.palace {
  padding-top: 118px;
  padding-bottom: 144px; }
  .palace .palace-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 17px;
    margin-bottom: 35px; }
  .palace .palace-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000; }
  .palace .video {
    height: auto;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto; }
  .palace .video iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
  @media (max-width: 768px) {
    .palace {
      text-align: center; } }

.curtains {
  background: #F6F6F6;
  padding-top: 77px;
  padding-bottom: 113px;
  /* --- gallery Start ------------------------------------------------*/
  /* --- gallery end ------------------------------------------------*/ }
  .curtains .curtains-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px; }
  .curtains .curtains-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 60px; }
  .curtains .image-slider {
    max-width: 633px;
    max-height: 542px;
    margin-left: auto;
    margin-right: auto; }
    .curtains .image-slider img {
      width: 100%;
      height: auto; }
  .curtains .for-what {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 10px;
    margin-bottom: 42px; }
  .curtains hr {
    background: #DFDFDF;
    margin-bottom: 27px; }
  .curtains .slider {
    position: relative; }
  .curtains .slick-prev:before, .curtains .slick-next:before {
    font-size: 0; }
  .curtains .slick-prev {
    left: 1%; }
  .curtains .slick-next {
    right: 1%; }
  .curtains .slick-prev, .curtains .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 9; }
  .curtains .slick-prev:active, .curtains .slick-next:active {
    color: #fff;
    border: 1px solid #000;
    background: #000; }
  .curtains .holder {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding-top: 37px; }
    .curtains .holder img {
      width: 100%;
      height: auto; }
    .curtains .holder .holder-text {
      margin-bottom: 24px; }
    .curtains .holder .image {
      margin-top: 14px;
      width: 63px;
      height: 63px; }
    .curtains .holder .hold {
      display: flex;
      justify-content: center; }
  .curtains .text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    padding-top: 101px;
    padding-bottom: 92px;
    margin: 0;
    max-width: 1295px; }
  .curtains .gallery {
    padding-bottom: 98px;
    position: relative; }
    .curtains .gallery .gallery__slider {
      z-index: 1; }
    .curtains .gallery .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      filter: opacity(50%); }
      .curtains .gallery .gallery-image .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none; }
        .curtains .gallery .gallery-image .btn span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000; }
      .curtains .gallery .gallery-image img {
        z-index: 1;
        height: auto;
        width: 100%; }
    .curtains .gallery .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%); }
      .curtains .gallery .slick-center .btn {
        display: block;
        cursor: default; }
    .curtains .gallery .slick-center:before {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible; }
    .curtains .gallery .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5; }
    .curtains .gallery .slick-prev:before, .curtains .gallery .slick-next:before {
      font-size: 0; }
    .curtains .gallery .slick-prev {
      left: 30%; }
    .curtains .gallery .slick-next {
      right: 30%; }
    .curtains .gallery .slick-prev, .curtains .gallery .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9; }
    .curtains .gallery .slick-prev:active, .curtains .gallery .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000; }
  .curtains .text-sec {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    max-width: 1295px;
    margin: 0 0 48px; }
  @media (max-width: 768px) {
    .curtains {
      text-align: center; }
      .curtains .image-slider {
        margin-left: auto;
        max-width: 633px;
        height: 542px;
        margin-right: auto; } }
  @media (max-width: 400px) {
    .curtains .curtains-title {
      font-size: 26px; } }

.cards {
  display: flex;
  justify-content: space-between; }
  .cards .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    border: none;
    padding: 12px 23px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); }
    .cards .card .image {
      max-height: 88px;
      max-width: 88px; }
      .cards .card .image img {
        width: 100%;
        height: auto; }
    .cards .card .card-text p {
      max-width: 206px;
      text-align: center;
      margin: 0 0 0 39px;
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-transform: lowercase;
      color: #000000; }
  .cards .card.marg {
    margin-top: 20px; }
  .cards .card.mar {
    margin-bottom: 20px; }

.carpets {
  padding-top: 76px;
  padding-bottom: 92px;
  /* --- gallery Start ------------------------------------------------*/
  /* --- gallery end ------------------------------------------------*/ }
  .carpets .carpets-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px; }
  .carpets .carpets-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 55px; }
  .carpets .carpets-gallery {
    position: relative;
    margin-bottom: 78px; }
  .carpets .carpets-slider {
    position: relative; }
  .carpets .image-2 {
    margin-left: auto; }
  .carpets .slick-prev:before, .carpets .slick-next:before {
    font-size: 0; }
  .carpets .slick-prev {
    left: 0.3%; }
  .carpets .slick-next {
    right: 0.3%; }
  .carpets .slick-prev, .carpets .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 9; }
  .carpets .slick-prev:active, .carpets .slick-next:active {
    color: #fff;
    border: 1px solid #000;
    background: #000; }
  .carpets .cards {
    margin-bottom: 83px; }
  .carpets .gallery {
    position: relative; }
    .carpets .gallery .gallery__slider {
      z-index: 1; }
    .carpets .gallery .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      filter: opacity(50%); }
      .carpets .gallery .gallery-image .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none; }
        .carpets .gallery .gallery-image .btn span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000; }
      .carpets .gallery .gallery-image img {
        z-index: 1;
        height: auto;
        width: 100%; }
    .carpets .gallery .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%); }
    .carpets .gallery .slick-center:before, .carpets .gallery .slick-center:after {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible; }
    .carpets .gallery .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5; }
    .carpets .gallery .slick-center:after {
      left: -4px;
      bottom: -4px;
      border-right: none;
      border-top: none;
      z-index: -5; }
    .carpets .gallery .slick-prev:before, .carpets .gallery .slick-next:before {
      font-size: 0; }
    .carpets .gallery .slick-prev {
      left: 30%; }
    .carpets .gallery .slick-next {
      right: 30%; }
    .carpets .gallery .slick-prev, .carpets .gallery .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9; }
    .carpets .gallery .slick-prev:active, .carpets .gallery .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000; }

.map {
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  padding-top: 77px;
  padding-bottom: 86px; }
  .map .map-address {
    max-width: 623px;
    max-height: 436px; }
  .map .map-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;
    color: #FEC940;
    margin-top: 28px;
    margin-bottom: 34px; }
  .map .map-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 40px; }
  .map .address {
    margin-bottom: 60px; }
  .map .phones, .map .address, .map .time-work, .map .social {
    display: flex;
    justify-content: space-between; }
  .map .phones {
    margin-bottom: 36px; }
  .map .address-map-title {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F; }
  .map .address-map-text, .map .tel {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F; }
  .map .social-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 58px; }
  .map .social-icon {
    display: flex; }
    .map .social-icon .image {
      margin-right: 50px;
      width: 42px;
      height: 42px; }
      .map .social-icon .image img {
        width: 100%;
        height: auto; }
  .map .tel {
    display: flex; }

.floor {
  padding-top: 119px;
  padding-bottom: 50px;
  /* --- gallery Start ------------------------------------------------*/
  /* --- gallery end ------------------------------------------------*/ }
  .floor .floor-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 45px; }
  .floor .floor-covrolin {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    text-transform: lowercase;
    position: relative;
    color: #000000;
    margin-left: 47px;
    margin-bottom: 0; }
    .floor .floor-covrolin:before {
      content: "";
      width: 70px;
      height: 1px;
      background-color: #FEC940;
      position: absolute;
      left: -6%;
      top: 60%; }
  .floor .gallery {
    position: relative;
    margin-bottom: 43px; }
    .floor .gallery .gallery.second {
      margin-bottom: 0; }
    .floor .gallery .gallery__slider {
      z-index: 1; }
    .floor .gallery .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      filter: opacity(50%); }
      .floor .gallery .gallery-image .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none; }
        .floor .gallery .gallery-image .btn span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000; }
      .floor .gallery .gallery-image img {
        z-index: 1;
        height: auto;
        width: 100%; }
    .floor .gallery .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%); }
    .floor .gallery .slick-center:before, .floor .gallery .slick-center:after {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible; }
    .floor .gallery .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5; }
    .floor .gallery .slick-center:after {
      left: -4px;
      bottom: -4px;
      border-right: none;
      border-top: none;
      z-index: -5; }
    .floor .gallery .slick-prev:before, .floor .gallery .slick-next:before {
      font-size: 0; }
    .floor .gallery .slick-prev {
      left: 30%; }
    .floor .gallery .slick-next {
      right: 30%; }
    .floor .gallery .slick-prev, .floor .gallery .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9; }
    .floor .gallery .slick-prev:active, .floor .gallery .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000; }
  .floor .floor-laminat {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    text-transform: lowercase;
    position: relative;
    color: #000000;
    margin-right: 47px;
    margin-bottom: 0;
    margin-top: 95px; }
    .floor .floor-laminat:before {
      content: "";
      width: 70px;
      height: 1px;
      background-color: #FEC940;
      position: absolute;
      right: -6%;
      top: 60%; }

.partners {
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  padding-top: 49px;
  padding-bottom: 52px;
  /* --- gallery Start ------------------------------------------------*/
  /* --- gallery end ------------------------------------------------*/ }
  .partners .partners-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F; }
  .partners .gallery {
    position: relative;
    margin-bottom: 0; }
    .partners .gallery .gallery.second {
      margin-bottom: 0; }
    .partners .gallery .gallery__partners {
      z-index: 1; }
    .partners .gallery .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      filter: opacity(50%); }
      .partners .gallery .gallery-image .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none; }
        .partners .gallery .gallery-image .btn span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000; }
      .partners .gallery .gallery-image img {
        z-index: 1;
        margin-left: auto;
        border-style: none;
        margin-right: auto;
        width: 70%; }
    .partners .gallery .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%); }
    .partners .gallery .slick-prev:before, .partners .gallery .slick-next:before {
      font-size: 0; }
    .partners .gallery .slick-prev {
      left: 0; }
    .partners .gallery .slick-next {
      right: 0; }
    .partners .gallery .slick-prev, .partners .gallery .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9; }
    .partners .gallery .slick-prev:active, .partners .gallery .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000; }

.mattress {
  padding-top: 75px;
  padding-bottom: 112px; }
  .mattress .mattress-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px; }
  .mattress .mattress-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 60px; }
  .mattress .reasons-title {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 10px;
    margin-bottom: 36px; }
  .mattress .reasons p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000; }
  .mattress .image-slider {
    margin-left: auto;
    margin-right: auto; }
    .mattress .image-slider img {
      width: 100%;
      height: auto; }
  .mattress .slider {
    position: relative; }
  .mattress .slick-prev:before, .mattress .slick-next:before {
    font-size: 0; }
  .mattress .slick-prev {
    left: 1%; }
  .mattress .slick-next {
    right: 1%; }
  .mattress .slick-prev, .mattress .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 9; }
  .mattress .slick-prev:active, .mattress .slick-next:active {
    color: #000;
    border: 1px solid #fff;
    background: #fff; }
  .mattress .mattress-adaptive {
    margin-top: 94px; }
    .mattress .mattress-adaptive .mattress-text {
      margin-bottom: 72px; }
  .mattress .bedroom {
    margin-top: 94px; }
  .mattress .mattress-adaptive {
    /* --- gallery Start ------------------------------------------------*/
    /* --- gallery end ------------------------------------------------*/ }
    .mattress .mattress-adaptive .gallery {
      position: relative; }
      .mattress .mattress-adaptive .gallery .gallery__slider-first {
        z-index: 1; }
      .mattress .mattress-adaptive .gallery .gallery-image {
        position: relative;
        outline: none;
        margin-top: 45px;
        margin-bottom: 45px;
        z-index: -1;
        max-width: 670px;
        max-height: 366px;
        filter: opacity(50%); }
        .mattress .mattress-adaptive .gallery .gallery-image img {
          z-index: 1;
          height: auto;
          width: 100%; }
      .mattress .mattress-adaptive .gallery .slick-current {
        transition: .3s;
        transform: scale(1.3);
        z-index: 9;
        position: relative;
        filter: opacity(100%); }
      .mattress .mattress-adaptive .gallery .slick-current:before, .mattress .mattress-adaptive .gallery .slick-current:after {
        content: '';
        position: absolute;
        display: block;
        width: 68%;
        height: 28%;
        border: #FEC940 solid 17px;
        opacity: 1;
        visibility: visible; }
      .mattress .mattress-adaptive .gallery .slick-current:before {
        right: -4px;
        top: -4px;
        border-left: none;
        border-bottom: none;
        z-index: -5; }
      .mattress .mattress-adaptive .gallery .slick-current:after {
        left: -4px;
        bottom: -4px;
        border-right: none;
        border-top: none;
        z-index: -5; }
      .mattress .mattress-adaptive .gallery .slick-prev:before, .mattress .mattress-adaptive .gallery .slick-next:before {
        font-size: 0; }
      .mattress .mattress-adaptive .gallery .slick-prev {
        left: 30%; }
      .mattress .mattress-adaptive .gallery .slick-next {
        right: 30%; }
      .mattress .mattress-adaptive .gallery .slick-prev, .mattress .mattress-adaptive .gallery .slick-next {
        font-size: 16px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: #000;
        border: 1px solid #000;
        outline: none;
        background: transparent;
        z-index: 9; }
      .mattress .mattress-adaptive .gallery .slick-prev:active, .mattress .mattress-adaptive .gallery .slick-next:active {
        color: #fff;
        border: 1px solid #000;
        background: #000; }
  .mattress .bedroom {
    /* --- gallery Start ------------------------------------------------*/
    /* --- gallery end ------------------------------------------------*/ }
    .mattress .bedroom .gallery {
      position: relative;
      margin-bottom: 43px; }
      .mattress .bedroom .gallery .gallery.second {
        margin-bottom: 0; }
      .mattress .bedroom .gallery .gallery__slider {
        z-index: 1; }
      .mattress .bedroom .gallery .gallery-image {
        position: relative;
        outline: none;
        margin-top: 45px;
        margin-bottom: 45px;
        z-index: -1;
        max-width: 670px;
        max-height: 366px;
        filter: opacity(50%); }
        .mattress .bedroom .gallery .gallery-image .btn {
          position: absolute;
          padding: 12px 72px;
          bottom: -4px;
          left: -4px;
          background-color: #FEC940;
          border-radius: 0;
          display: none; }
          .mattress .bedroom .gallery .gallery-image .btn span {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 33px;
            text-align: center;
            color: #000000; }
        .mattress .bedroom .gallery .gallery-image img {
          z-index: 1;
          height: auto;
          width: 100%; }
      .mattress .bedroom .gallery .slick-center {
        transition: .3s;
        transform: scale(1.3);
        z-index: 9;
        position: relative;
        filter: opacity(100%); }
      .mattress .bedroom .gallery .slick-center:before, .mattress .bedroom .gallery .slick-center:after {
        content: '';
        position: absolute;
        display: block;
        width: 68%;
        height: 28%;
        border: #FEC940 solid 17px;
        opacity: 1;
        visibility: visible; }
      .mattress .bedroom .gallery .slick-center:before {
        right: -4px;
        top: -4px;
        border-left: none;
        border-bottom: none;
        z-index: -5; }
      .mattress .bedroom .gallery .slick-center:after {
        left: -4px;
        bottom: -4px;
        border-right: none;
        border-top: none;
        z-index: -5; }
      .mattress .bedroom .gallery .slick-prev:before, .mattress .bedroom .gallery .slick-next:before {
        font-size: 0; }
      .mattress .bedroom .gallery .slick-prev {
        left: 30%; }
      .mattress .bedroom .gallery .slick-next {
        right: 30%; }
      .mattress .bedroom .gallery .slick-prev, .mattress .bedroom .gallery .slick-next {
        font-size: 16px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: #000;
        border: 1px solid #000;
        outline: none;
        background: transparent;
        z-index: 9; }
      .mattress .bedroom .gallery .slick-prev:active, .mattress .bedroom .gallery .slick-next:active {
        color: #fff;
        border: 1px solid #000;
        background: #000; }

.certificates {
  padding-top: 74px;
  padding-bottom: 98px;
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  /* --- gallery Start ------------------------------------------------*/
  /* --- gallery end ------------------------------------------------*/ }
  .certificates .certificates-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 47px; }
  .certificates .gallery {
    position: relative;
    margin-bottom: 0; }
    .certificates .gallery .gallery.second {
      margin-bottom: 0; }
    .certificates .gallery .gallery__partners {
      z-index: 1; }
    .certificates .gallery .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      filter: opacity(50%); }
      .certificates .gallery .gallery-image .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none; }
        .certificates .gallery .gallery-image .btn span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000; }
      .certificates .gallery .gallery-image img {
        z-index: 1;
        margin-left: auto;
        border-style: none;
        margin-right: auto;
        width: 70%; }
    .certificates .gallery .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%); }
    .certificates .gallery .slick-prev:before, .certificates .gallery .slick-next:before {
      font-size: 0; }
    .certificates .gallery .slick-prev {
      left: 0; }
    .certificates .gallery .slick-next {
      right: 0; }
    .certificates .gallery .slick-prev, .certificates .gallery .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9; }
    .certificates .gallery .slick-prev:active, .certificates .gallery .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000; }

.reviews {
  background-color: #000;
  padding-top: 48px;
  padding-bottom: 108px;
  position: relative; }
  .reviews .col-lg-4 {
    margin-left: auto;
    margin-right: auto; }
  .reviews .reviews-title {
    display: flex;
    align-items: center; }
    .reviews .reviews-title .image {
      max-width: 84px;
      max-height: 84px;
      margin-right: 31px;
      margin-bottom: 24px; }
      .reviews .reviews-title .image img {
        width: 100%;
        height: auto; }
    .reviews .reviews-title .title {
      display: flex;
      flex-direction: column; }
    .reviews .reviews-title .name {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 0 0 11px; }
    .reviews .reviews-title .data {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0; }
  .reviews .reviews-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 365px; }
  .reviews .slick-prev:before, .reviews .slick-next:before {
    font-size: 0; }
  .reviews .slick-prev {
    right: 7% !important; }
  .reviews .slick-next {
    right: 2% !important; }
  .reviews .slick-prev, .reviews .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 128%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 9; }
  .reviews .slick-prev:active, .reviews .slick-next:active {
    color: #000;
    border: 1px solid #fff;
    background: #fff; }

/*# sourceMappingURL=main.css.map */
