*{
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif, "Arial";
  background-color: #fff;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  max-width: 725px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.holder-container {
  max-width: 626px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////HEADER BEGIN//////////////////////

.header {
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  .header-fixed {
    display: none !important;
  }

  ///contact

  .contact {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .time-work, .phones, .address, .tel {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #340F0F;
      display: flex;
      margin: 0;
    }

    .tel:hover {
      color: #340F0F;
    }

    .btn {
      padding: 18px 22px;
      border: 1px solid #340F0F !important;
      border-radius: 0;
      &:hover {
        background-color: lightgray;
      }
    }

    .contact-title {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #340F0F;
      margin-right: 6px;
      display: inline-block;
    }

    .new-line {
      display: inline-block;
    }
  }

  //novigation

  .header-nav {
    border-bottom: none;
    background-color: #fff;
    //position: fixed;
    //right: 0;
    //left: 0;
    padding: 20px 0;
    //display: flex;
    //justify-content: space-around;
    //max-width: 850px;
    z-index: 999999;


    .menu {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        max-width: 309px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .nav-link {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #636363;
      &:hover {
        color: #340F0F;
      }
    }

    ////////
    //.logo-big {
    //  display: none;
    //}

    .toggle-menu {
      position: relative;
      width: 18px;
      height: 12px;
      cursor: pointer;
     display: none;
      //margin-right: 21px;
      //margin-left: auto;

      span {
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 2px;
        top: 50%;
        right: 0;
        margin-top: -5px;
        opacity: 1;
        &:before {
          position: absolute;
          background: #000;
          width: 18px;
          height: 2px;
          bottom: 5px;
          content: "";
          display: block;
        }
        &:after {
          position: absolute;
          background: #000;
          width: 18px;
          height: 2px;
          top: 5px;
          content: "";
          display: block;
        }
      }
    }
    .toggle-menu.menu-on {
      span {
        background-color: transparent;
        transition: all .3s ease-in-out;
        &:before {
          transform: rotate(-45deg);
          top: 0;
          position: absolute;
          transition: all .3s ease-in-out;
        }
        &:after {
          transform: rotate(45deg);
          top: 0;
          position: absolute;
          transition: all .3s ease-in-out;
        }
      }
    }

    //.mobile-header {
    //  display: none;
    //}

    .logo-big {
      display: none;
    }

    .menu-bottom {
      display: none;
    }
  }

  @media (max-width: 992px) {

    .menu-bottom {
      display: block !important;

      .menu-bottom-inner {
        display: flex;
        border-top: 1px solid #000;

        .menu-bottom-title {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          margin-right: 60px;
        }

        .menu-bottom-text {
          display: flex;
          flex-direction: column;
          //align-items: baseline;
          align-items: flex-end;
        }

        .new-line {
          isplay: inline-block;
          text-align: right;
        }

        .time {
          margin-top: 28px;
        }

        .tel {
          padding: 0 !important;
          color: #340F0F;
        }

        .contact-title, .new-line {
          padding: 15px 0;
        }
      }
    }

    .contact {
      display: none !important;
    }

  .logo-big {
    display: inline-block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

    .toggle-menu {
      display: block !important;
      margin-right: 80px;
      margin-left: auto;
      margin-top: -18px;
    }

    .header-nav {
      border-bottom: none;
      background-color: #fff;
      padding: 30px 0 17px 0;
      z-index: 999999;
    }

    .logo-big {
      display: block !important;
      max-width: 280px;
      max-height: 40px;
      margin-top: -23px;
    }

    //.mobile-header {
    //  display: block !important;
    //  text-align: center;
    //}

    .menu {
      display: block;
      text-align: center;

      a {
        display: block;
        font-size: 16px;
        padding: 15px 0;
      }
    }

    .main-nav {


        //position: absolute;
        //left: 0;
        //right: 0;
        //width: 100%;
        //top: 100%;
        //border-top: 1px solid #fff;
        //background-color: #a0a0a0;
        //padding: 25px 0;
        //display: none;

      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 100%;
      border-top: 1px solid #fff;
      background-color: #fff;
      padding: 25px 0;
      display: none;

    }

    .main-nav.open {
      display: block;
    }

    .main-nav.open .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //margin-top: -100px;
    }

    .menu .logo {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .time-work, .phones {
      display: none !important;
    }
    .btn {
      padding: 7px 10px !important;
    }
     .logo-big {
      max-width: 254px;
    }
  }

  @media (max-width: 576px) {
    //.header-nav {
    //  border-bottom: 4px solid #fff !important;
    //}

    .logo-big {
      max-width: 254px;
      margin-left: 9%;
    }

    .toggle-menu {
      margin-right: 45px;
      margin-left: auto;
      margin-top: -15px;
    }

    .time {
      margin-top: 24px !important;
    }

    .menu-bottom-title {
      margin-right: 0 !important;
    }

    .main-nav {
      width: 100%;
    }
  }

  @media (max-width: 320px) {
    .toggle-menu {
      margin-right: 30px;
    }
    .header-nav {
      padding: 28px 0 8px 0;
    }
  }

}
//////////////////////HEADER END//////////////////////

//////////////////////BANNER BEGIN//////////////////////
.banner {

  //background: url(../img/firstBg.png);
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: cover;
  //min-height: 100vh;
  //position: relative;
  //display: -webkit-box;
  //display: -ms-flexbox;
  //display: flex;
  //-webkit-box-pack: center;
  //-ms-flex-pack: center;
  //justify-content: center;
  //-webkit-box-align: center;
  //-ms-flex-align: center;
  //align-items: center;
  //-webkit-box-orient: vertical;
  //-webkit-box-direction: normal;
  //-ms-flex-direction: column;
  //flex-direction: column;
  //padding: 28% 0 0 0;
  display: flex;
  align-items: center;
  //justify-content: center;
  height: 100vh;
  position: relative;
  background: url("../../public/images/bg-banner.png") center center no-repeat;
  background-size: cover;
  padding: 264px 0 54px 0;
  .banner-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 30px;
  }
  .banner-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 25px;
  }

  .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0;
    &:hover {
      background-color: lightgray;
    }
  }
  .button {
    margin-bottom: 70px;
  }
  .image {
    width: 82px;
    height: 82px;
    img {
      width: 100%;
      height: auto;
    }
  }


  .furniture {
    display: flex;
    //justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;

    .furniture-text {
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      text-transform: lowercase;
      color: #000000;
    }

    .furniture-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //margin: 0 33px;
    }
  }

  @media (max-width: 992px) {
    .button {
      margin-bottom: 28px;
    }
    .banner .banner-title {
      margin: 0 0 7px;
    }
    .image {
      width: 70px;
      height: 70px;
    }
  }

  @media (max-width: 768px) {
    //text-align: center;
    .furniture li {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
    }

    //.button {
    //  margin-bottom: 70px !important; ;
    //}
    //.furniture-link {
    //  margin: 10px 33px;
    //}
  }
  @media (max-width: 767px) {
    text-align: center;
  }

  @media (max-width: 576px) {
    padding: 193px 0 54px 0;

    .banner-title {
      margin: 0 0 50px;
    }

    .banner .banner-text {
      margin-bottom: 42px;
    }

    .button {
      margin-bottom: 101px;
    }
  }

  @media (max-width: 415px) {
      padding: 330px 0 54px 0;
      //text-align: center;
    .banner-title {
      font-size: 43px;
      line-height: 49px;
      margin: 0px 0 2px;
    }
    .banner-text {
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-transform: lowercase;
      color: #000000;
      margin-bottom: 0;
    }
    .button {
      margin-bottom: 22px;
    }
    .btn {
      padding: 9px 15px 9px 15px;
      //border: 1px solid #340F0F;
      //border-radius: 0;
    }

     .furniture {
      margin-bottom: 206px;
    }

    .furniture li {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 12px;
    }

    .image {
      width: 42px;
      height: 42px;
    }
    .furniture-text {
      font-size: 20px !important;
      line-height: 17px !important;
    }
  }

}

//////////////////////BANNER END//////////////////////

//////////////////////LINENS BEGIN//////////////////////

.linens {
  padding-top: 45px;
  padding-bottom: 38px;
  position: relative;
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  //display: flex;
  //margin-bottom: 0 !important;

  //.linens-slider {
  //  position: relative;
  //}

  .image {
    max-width: 625px;
    max-height: 399px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .linens-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    //font-size: 30px;
    font-size: 28px;
    line-height: 41px;
    text-transform: uppercase;
    color: #FEC940;
    margin-bottom: 35px;
  }

  .linens-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin: 0 0 25px;
  }

  .btn {
    padding: 18px 25px 18px 23px;
    border: 1px solid #340F0F;
    border-radius: 0;
    &:hover {
      background-color: lightgray;
    }
  }

  .button {
    display: inline-block;
  }

  .button.f {
    margin-right: 68px;
  }

  .act {
    display: flex;
    align-items: center;
  }



  .action {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    padding: 24px 70px 97px 31px;
    position: relative;
    margin-right: 20px !important;

    .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -7%;
      right: -3%;
      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }



  ///////slider

  .slick-prev:before, .slick-next:before {
    /* font-family: 'slick'; */
    //display: none;
    font-size: 1px;
    line-height: 1;
    opacity: 10.75;
    color: black;
  }

  .slick-prev {
    left: 49.6%;
  }

  .slick-next {
    right: 0%;
  }

  .slick-prev, .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 9;
  }

  .slick-prev:active, .slick-next:active {
    color: #fff;
    border: 1px solid #000;
    background: #000;
  }

  .slick-dots {
    position: absolute;
    bottom: 16%;
    display: block;
    width: 15%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    right: 32.5%;
  }



  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    margin: 0 23px 0 5px;
    border: 1px #000 solid;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px white solid;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #000;
    border-radius: 50%;
  }

  .slick-dots li button:before {
    content: "";
  }


  //.slick-dots li {
  //  position: relative;
  //  display: inline-block;
  //  border: 1px white solid;
  //  width: 20px;
  //  height: 20px;
  //  padding: 0;
  //  cursor: pointer;
  //  border-radius: 50%;
  //  margin: 0 15px;
  //}
  //
  //.slick-dots li.slick-active {
  //  position: relative;
  //  display: inline-block;
  //  border: 1px white solid;
  //  width: 20px;
  //  height: 20px;
  //  cursor: pointer;
  //  background-color: #fff;
  //  border-radius: 50%;
  //}
  //
  //.slick-dots {
  //  position: absolute;
  //  bottom: -29%;
  //  display: block;
  //  width: 100%;
  //  padding: 0;
  //  margin: 0;
  //  list-style: none;
  //  text-align: center;
  //}
  //
  //.slick-dots li button:before {
  //  content: "";
  //}

  @media (max-width: 1300px) {
     .slick-dots {
      position: absolute;
      bottom: 16%;
      display: block;
      width: 16%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      right: 31.5%;
    }
    .slick-next {
      right: 0;
    }
  }

  @media (max-width: 1200px) {
    .slick-dots {
      position: absolute;
      bottom: 16%;
      display: block;
      width: 30%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      right: 23.9%;
    }
    .slick-next {
      right: -1.4%;
    }
  }

  @media (max-width: 1150px) {
    .slick-next {
      right: -0.2%;
    }
  }

  @media (max-width: 1024px) {
    .slick-dots {
      right: 21.9%;
    }
    .button.f {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 992px) {
    .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -5%;
      right: -4%;
    }
    .row {
      display: flex;
      align-items: center;
    }
    .slick-dots {
      right: 21.3%;
      bottom: 9%;
    }
  }

  @media (max-width: 991px) {

    .image {
      margin-left: auto;
      max-width: 624px;
      max-height: 399px;
      margin-right: auto;
    }
    .action .image-act {
      width: 106px;
      height: 91px;
      position: absolute;
      top: -7%;
      right: -2%;
    }
    .action {
      text-align: center;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
    .slick-dots {
      right: 0;
      left: 0;
      width: 100%;
    }

    .slick-prev, .slick-next {
      top: 78%;
    }

    .slick-next {
      right: 0%;
    }

    .slick-prev {
      left: 0%;
    }
  }

  @media (max-width: 768px) {

    .action .image-act {
      top: -8%;
      right: -3%;
    }
  }

  @media (max-width: 568px) {
    .action {
      padding: 25px 42px 25px 42px;
      margin-right: 14px !important;
    }
  }

  @media (max-width: 480px) {
    .action .image-act {
      top: -6%;
      right: -6%;
    }


    //.linens .btn {
    //  padding: 9px 18px 9px 18px;
    //}
  }

  @media (max-width: 320px) {
    .slick-prev, .slick-next {
      top: 67%;
    }

    slick-prev {
      left: -4%;
    }
  }
}

//////////////////////LINENS END//////////////////////

//////////////////////PALACE BEGIN//////////////////////

.palace {
  padding-top: 102px;
  padding-bottom: 144px;

  .palace-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 17px;
    margin-bottom: 35px;
  }

  .palace-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
  }

  .video {
    height: auto;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
  }

  .video iframe {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 768px) {
    text-align: center;
  }
  @media (max-width: 400px) {
    .palace-title {
      font-size: 27px;
    }
  }
}

//////////////////////PALACE END//////////////////////

//////////////////////CURTAINS BEGIN//////////////////////

.curtains {
  background: #F6F6F6;
  padding-top: 77px;
  padding-bottom: 113px;

  .curtains-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px;
  }

  .curtains-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 60px;
  }

  .image-slider {
    max-width: 633px;
    max-height: 542px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .for-what {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 10px;
    margin-bottom: 42px;
  }

  hr {
    background: #DFDFDF;
    margin-bottom: 27px;
  }

  /////slider

  .slider {
    position: relative;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev {
    left: 1%;
  }

  .slick-next {
    right: 1%;
  }

  .slick-prev, .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 9;
  }

  .slick-prev:active, .slick-next:active {
    color: #fff;
    border: 1px solid #000;
    background: #000;
  }

  /////slider end


  .holder {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    padding-top: 37px;

    img {
      width: 100%;
      height: auto;
    }

    .holder-text {
      margin-bottom: 24px;
    }

    .image {
      margin-top: 14px;
      width: 63px;
      height: 63px;
    }

    .hold {
      display: flex;
      justify-content: center;
    }
  }

  .text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    padding-top: 101px;
    padding-bottom: 92px;
    margin: 0;
    max-width: 1295px;
  }

  /* --- gallery Start ------------------------------------------------*/
  .gallery {
    padding-bottom: 98px;
    position: relative;

    .gallery__slider {
      z-index: 1;
    }

    .gallery-image {
      position: relative;
      outline: none;
      //transition: .2s;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      //filter: grayscale(.75);
      filter: opacity(50%);

      .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none;

        span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000;
        }
      }

      img {
        z-index: 1;
        height: auto;
        width: 100%;
        //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      }
    }

    ///slick-center

    .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      //filter: grayscale(0);
      filter: opacity(100%);

      .btn {
        display: block;
        cursor: default;
      }
    }

    .slick-center:before {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible;
    }

    .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5;
    }

    //.slick-center:after {
    //  left: -4px;
    //  bottom: -4px;
    //  border-right: none;
    //  border-top: none;
    //}

    ///slick-center end

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev {
      left: 30%;
    }

    .slick-next {
      right: 30%;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9;
    }

    .slick-prev:active, .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000;
    }

    ///slick-prev slick-next end
  }

  /* --- gallery end ------------------------------------------------*/

  .text-sec {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    max-width: 1295px;
    margin: 0 0 48px;
  }

  @media (max-width: 1180px) {

    .card-text p {
      margin: 0 !important;
    }
    .card {
      padding: 8px 14px !important;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1024px) {
    .curtains-block {
      display: flex;
      align-items: center;
    }
    //.card-text p {
    //  margin: 0 !important;
    //}
    //
    //.card {
    //  padding: 8px 14px !important;
    //  flex-wrap: wrap;
    //}
    }


  @media (max-width: 991px) {
    text-align: center;

    .gallery .slick-prev, .gallery .slick-next {
      top: 58%;
    }

    .gallery .slick-prev {
      left: 0%;
    }

    .gallery .slick-next {
      right: 0%;
    }

    .gallery-image {
      z-index: 11 !important;
      max-width: 100% !important;
      max-height: 100% ;
      filter: opacity(100%) !important;
    }

  }

  @media (max-width: 768px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 56%;
    }
    .for-what {
      margin-bottom: 42px;
      margin-top: 42px;
    }

    .holder .image {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }


  @media (max-width: 576px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 50%;
    }
  }

  @media (max-width: 400px) {
    .curtains-title {
      font-size: 27px;
    }
  }

}

//////////////////////CURTAINS END//////////////////////

//////////////CARDS BEGIN

.cards {
  display: flex;
  justify-content: space-between;

  .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 0;
    border: none;
    padding: 12px 23px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    .image {
      max-height: 88px;
      max-width: 88px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .card-text p {
      max-width: 206px;
      text-align: center;
      margin: 0 0 0 39px;
      font-family: "Poiret One", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-transform: lowercase;

      color: #000000;
    }
  }

  .card.marg {
    margin-top: 20px;
  }

  .card.mar {
    margin-bottom: 20px;
  }

  @media (max-width: 1180px) {

    .card-text p {
      margin: 0 !important;
    }
    .card {
      padding: 8px 14px !important;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;


    .card {
      margin-bottom: 30px;
      width: 100%;
      justify-content: space-around;
    }

    .card.marg {
      margin: 0 !important;
    }

    .card.mar {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .card .image {
      max-height: 88px;
      max-width: 88px;
      margin-right: 20px;
    }

  }

  @media (max-width: 576px) {
    .card .image {
      max-height: 88px;
      max-width: 88px;
      margin-right: 0 !important;
    }
  }


}

//////////////CARDS END

//////////////////////CARPETS BEGIN//////////////////////

.carpets {
  padding-top: 76px;
  padding-bottom: 92px;

  .carpets-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px;
  }

  .carpets-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 55px;
  }

  .carpets-gallery {
    position: relative;
    margin-bottom: 78px;
  }

  .carpets-slider {
    position: relative;
    .image {
      max-width: 633px;
      max-height: 394px;
      margin-right: 20px;
      margin-left: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image-2 {
    margin-left: auto;
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev {
    left: 0.3%;
  }

  .slick-next {
    right: 0.3%;
  }

  .slick-prev, .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 9;
  }

  .slick-prev:active, .slick-next:active {
    color: #fff;
    border: 1px solid #000;
    background: #000;
  }

  .cards {
    margin-bottom: 83px;
  }

  /* --- gallery Start ------------------------------------------------*/
  .gallery {
    position: relative;

    .gallery__slider {
      z-index: 1;
    }

    .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      filter: opacity(50%);

      .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none;

        span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000;
        }
      }

      img {
        z-index: 1;
        height: auto;
        width: 100%;
      }
    }

    //.slick-track  {
    //  opacity: 1;
    //  width: 5328px;
    //  transform: translate3d(-1204px, 0px, 0px) !important;
    //}

    ///slick-center

    .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%);
    }

    .slick-center:before, .slick-center:after {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible;
    }

    .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5;
    }

    .slick-center:after {
      left: -4px;
      bottom: -4px;
      border-right: none;
      border-top: none;
      z-index: -5;
    }

    ///slick-center end

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev {
      left: 30%;
    }

    .slick-next {
      right: 30%;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9;
    }

    .slick-prev:active, .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000;
    }

    ///slick-prev slick-next end
  }

  /* --- gallery end ------------------------------------------------*/

  @media (max-width: 991px) {
    text-align: center;

    .gallery .slick-prev, .gallery .slick-next {
      top: 58%;
    }

    .gallery .slick-prev {
      left: 0%;
    }

    .gallery .slick-next {
      right: 0%;
    }

    .gallery-image {
      z-index: 11 !important;
      max-width: 100% !important;
      max-height: 100% ;
      filter: opacity(100%) !important;
    }

    .carpets-slider {
      .image {
        max-width: 100% !important;
      }
    }

  }

  @media (max-width: 768px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 56%;
    }
  }


  @media (max-width: 576px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 50%;
    }
  }

  @media (max-width: 400px) {
    .carpets-title {
      font-size: 27px;
    }
  }
}

//////////////////////CARPETS END//////////////////////

//////////////////////MAP BEGIN//////////////////////

.map {
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  padding-top: 77px;
  padding-bottom: 86px;

  .map-address {
    max-width: 623px;
    max-height: 436px;
  }

  .map-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: capitalize;
    color: #FEC940;
    margin-top: 28px;
    margin-bottom: 34px;
  }

  .map-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 40px;
  }

  .address {
    margin-bottom: 60px;
  }

  .phones, .address, .time-work, .social{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .phones {
    margin-bottom: 36px;
  }

  .address-map-title {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F;
  }

  .address-map-text, .tel {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #340F0F;
  }

  .social-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 48px;
  }

  .social-icon {
    display: flex;
    .image {
      margin-right: 50px;
      width: 42px;
      height: 42px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .tel {
    display: flex;
  }

  @media (max-width: 1200px) {
     .map-text {
      margin-bottom: 28px;
    }
    // .phones,  .address,  .time-work,  .social {
    //
    //}
    .social-text {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 991px) {
    text-align: center;
     .map-address {
      margin-left: auto;
      max-width: 623px;
      max-height: 436px;
      margin-right: auto;
    }
    //.phones,  .address,  .time-work,  .social {
    //  display: inline-block;
    //}
  }

  @media (max-width: 575px) {
    .row {
      flex-flow: column-reverse;
    }
    .social-text {
      text-align: center;
    }
    .social-icon {
      display: flex;
      justify-content: center;
      margin: 0 0 16px 0;
    }
    .social-icon .image {
      margin: 0 25px;
    }
    .phones {
      margin-bottom: 16px;
    }
    .address {
      margin-bottom: 16px;
    }
    }
}

//////////////////////MAP END//////////////////////

//////////////////////FLOOR BEGIN//////////////////////

.floor {
  padding-top: 119px;
  padding-bottom: 50px;

  .floor-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 45px;
  }

  .floor-covrolin {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    text-transform: lowercase;
    position: relative;
    color: #000000;
    margin-left: 47px;
    margin-bottom: 0;
    &:before {
      content: "";
      width: 70px;
      height: 1px;
      background-color: #FEC940;
      position: absolute;
      left: -6%;
      top: 60%;
    }
  }

  /* --- gallery Start ------------------------------------------------*/
  .gallery {
    position: relative;
    margin-bottom: 43px;

    .gallery.second {
      margin-bottom: 0;
    }

    .gallery__slider {
      z-index: 1;
    }

    .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      max-width: 670px;
      max-height: 366px;
      filter: opacity(50%);

      .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none;

        span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000;
        }
      }

      img {
        z-index: 1;
        height: auto;
        width: 100%;
      }
    }

    //.slick-track  {
    //  opacity: 1;
    //  width: 5328px;
    //  transform: translate3d(-1204px, 0px, 0px) !important;
    //}

    ///slick-center

    .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%);
    }

    .slick-center:before, .slick-center:after {
      content: '';
      position: absolute;
      display: block;
      width: 68%;
      height: 28%;
      border: #FEC940 solid 17px;
      opacity: 1;
      visibility: visible;
    }

    .slick-center:before {
      right: -4px;
      top: -4px;
      border-left: none;
      border-bottom: none;
      z-index: -5;
    }

    .slick-center:after {
      left: -4px;
      bottom: -4px;
      border-right: none;
      border-top: none;
      z-index: -5;
    }

    ///slick-center end

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev {
      left: 30%;
    }

    .slick-next {
      right: 30%;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9;
    }

    .slick-prev:active, .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000;
    }

    ///slick-prev slick-next end
  }

  /* --- gallery end ------------------------------------------------*/


  .floor-laminat {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    text-transform: lowercase;
    position: relative;
    color: #000000;
    margin-right: 47px;
    margin-bottom: 0;
    margin-top: 95px;
    &:before {
      content: "";
      width: 70px;
      height: 1px;
      background-color: #FEC940;
      position: absolute;
      right: -6%;
      top: 60%;
    }
  }

  @media (max-width: 991px) {
    text-align: center;

    .gallery .slick-prev, .gallery .slick-next {
      top: 58%;
    }

    .gallery .slick-prev {
      left: 0%;
    }

    .gallery .slick-next {
      right: 0%;
    }

    .gallery-image {
      z-index: 11 !important;
      max-width: 100% !important;
      max-height: 100% ;
      filter: opacity(100%) !important;
    }

  }

  @media (max-width: 768px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 56%;
    }
  }


  @media (max-width: 576px) {
    .gallery .slick-prev, .gallery .slick-next {
      top: 50%;
    }
  }

  @media (max-width: 1024px) {
    .floor-covrolin:before {
      width: 48px;
      left: -5%;
    }
    .floor-laminat:before {
      width: 48px;
      right: -5%;
    }
  }

  @media (max-width: 768px) {
    .floor-covrolin:before {
      left: -7%;
    }
    .floor-laminat:before {
      right: -7%;
    }
    }

  @media (max-width: 576px) {
    .floor-covrolin:before {
      left: -10%;
    }
    .floor-laminat:before {
      right: -10%;
    }
  }

  @media (max-width: 480px) {
    .floor-covrolin:before {
      left: -12%;
    }
    .floor-laminat:before {
      right: -12%;
    }
  }

  @media (max-width: 400px) {
    .floor-title {
      font-size: 27px;
    }
  }

  @media (max-width: 320px) {
    .floor-covrolin:before {
      left: -20%;
    }
    .floor-laminat:before {
      right: -20%;
    }
  }
}

//////////////////////FLOOR END//////////////////////

//////////////////////PARTNERS BEGIN//////////////////////

.partners {
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);
  padding-top: 49px;
  padding-bottom: 52px;

  .partners-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
  }

  /* --- gallery Start ------------------------------------------------*/
  .gallery {
    position: relative;
    margin-bottom: 0;

    .gallery.second {
      margin-bottom: 0;
    }

    .gallery__partners {
      z-index: 1;
    }

    .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      //max-width: 362px;
      //max-height: 184px;
      filter: opacity(50%);

      .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none;

        span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000;
        }
      }

      img {
        z-index: 1;
        margin-left: auto;
        border-style: none;
        margin-right: auto;
        width: 70%;
      }
    }

    //.slick-track  {
    //  opacity: 1;
    //  width: 5328px;
    //  transform: translate3d(-1204px, 0px, 0px) !important;
    //}

    ///slick-center

    .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%);
    }

    ///slick-center end

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9;
    }

    .slick-prev:active, .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000;
    }

    ///slick-prev slick-next end
  }

  /* --- gallery end ------------------------------------------------*/

  @media (max-width: 400px) {
    .partners-title {
      font-size: 27px;
    }
  }
}

//////////////////////PARTNERS END//////////////////////

//////////////////////MATTRESS BEGIN//////////////////////

.mattress {
  padding-top: 75px;
  padding-bottom: 112px;

  .mattress-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 20px;
  }

  .mattress-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
    margin-bottom: 60px;
  }

  .reasons-title {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #340F0F;
    margin-top: 10px;
    margin-bottom: 36px;
  }

  .reasons p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }


  .image-slider {
    //max-width: 633px;
    //max-height: 542px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  /////slider

  .slider {
    position: relative;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .slick-prev {
    left: 1%;
  }

  .slick-next {
    right: 1%;
  }

  .slick-prev, .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 9;
  }

  .slick-prev:active, .slick-next:active {
    color: #000;
    border: 1px solid #fff;
    background: #fff;
  }

  /////slider end

  .mattress-adaptive {
    margin-top: 94px;
    .mattress-text {
      margin-bottom: 72px;
    }
  }

  .bedroom {
    margin-top: 94px;
  }

  //.mattress-adaptive {
  //
  //  /* --- gallery Start ------------------------------------------------*/
  //  .gallery {
  //    position: relative;
  //
  //    .gallery__slider-first {
  //      z-index: 1;
  //    }
  //
  //    .gallery-image {
  //      position: relative;
  //      outline: none;
  //      margin-top: 45px;
  //      margin-bottom: 45px;
  //      z-index: -1;
  //      max-width: 670px;
  //      max-height: 366px;
  //      filter: opacity(50%);
  //
  //      img {
  //        z-index: 1;
  //        height: auto;
  //        width: 100%;
  //      }
  //    }
  //
  //    //.slick-track  {
  //    //  opacity: 1;
  //    //  width: 5328px;
  //    //  transform: translate3d(-1204px, 0px, 0px) !important;
  //    //}
  //
  //    ///slick-center
  //
  //    .slick-current {
  //      transition: .3s;
  //      transform: scale(1.3);
  //      z-index: 9;
  //      position: relative;
  //      filter: opacity(100%);
  //    }
  //
  //    //.slick-slide {
  //    //    transition: .3s;
  //    //    //transform: scale(1);
  //    //    z-index: 9;
  //    //    position: relative;
  //    //    filter: opacity(50%);
  //    //}
  //
  //    .slick-current:before, .slick-current:after {
  //      content: '';
  //      position: absolute;
  //      display: block;
  //      width: 68%;
  //      height: 28%;
  //      border: #FEC940 solid 17px;
  //      opacity: 1;
  //      visibility: visible;
  //    }
  //
  //    .slick-current:before {
  //      right: -4px;
  //      top: -4px;
  //      border-left: none;
  //      border-bottom: none;
  //      z-index: -5;
  //    }
  //
  //    .slick-current:after {
  //      left: -4px;
  //      bottom: -4px;
  //      border-right: none;
  //      border-top: none;
  //      z-index: -5;
  //    }
  //
  //    ///slick-center end
  //
  //    ///slick-prev slick-next
  //
  //    .slick-prev:before, .slick-next:before {
  //      font-size: 0;
  //    }
  //
  //    .slick-prev {
  //      left: 30%;
  //    }
  //
  //    .slick-next {
  //      right: 30%;
  //    }
  //
  //    .slick-prev, .slick-next {
  //      font-size: 16px;
  //      line-height: 0;
  //      position: absolute;
  //      top: 50%;
  //      display: block;
  //      width: 40px;
  //      height: 40px;
  //      padding: 0;
  //      transform: translate(0, -50%);
  //      cursor: pointer;
  //      color: #000;
  //      border: 1px solid #000;
  //      outline: none;
  //      background: transparent;
  //      z-index: 9;
  //    }
  //
  //    .slick-prev:active, .slick-next:active {
  //      color: #fff;
  //      border: 1px solid #000;
  //      background: #000;
  //    }
  //
  //    ///slick-prev slick-next end
  //  }
  //
  //  /* --- gallery end ------------------------------------------------*/
  //}

  .bedroom, .mattress-adaptive {
    /* --- gallery Start ------------------------------------------------*/
    .gallery {
      position: relative;
      margin-bottom: 43px;

      .gallery.second {
        margin-bottom: 0;
      }

      .gallery__slider {
        z-index: 1;
      }

      .gallery-image {
        position: relative;
        outline: none;
        margin-top: 45px;
        margin-bottom: 45px;
        z-index: -1;
        max-width: 670px;
        max-height: 366px;
        filter: opacity(50%);

        .btn {
          position: absolute;
          padding: 12px 72px;
          bottom: -4px;
          left: -4px;
          background-color: #FEC940;
          border-radius: 0;
          display: none;

          span {
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 33px;
            text-align: center;
            color: #000000;
          }
        }

        img {
          z-index: 1;
          height: auto;
          width: 100%;
        }
      }

      //.slick-track  {
      //  opacity: 1;
      //  width: 5328px;
      //  transform: translate3d(-1204px, 0px, 0px) !important;
      //}

      ///slick-center

      .slick-center {
        transition: .3s;
        transform: scale(1.3);
        z-index: 9;
        position: relative;
        filter: opacity(100%);
      }

      .slick-center:before, .slick-center:after {
        content: '';
        position: absolute;
        display: block;
        width: 68%;
        height: 28%;
        border: #FEC940 solid 17px;
        opacity: 1;
        visibility: visible;
      }

      .slick-center:before {
        right: -4px;
        top: -4px;
        border-left: none;
        border-bottom: none;
        z-index: -5;
      }

      .slick-center:after {
        left: -4px;
        bottom: -4px;
        border-right: none;
        border-top: none;
        z-index: -5;
      }

      ///slick-center end

      ///slick-prev slick-next

      .slick-prev:before, .slick-next:before {
        font-size: 0;
      }

      .slick-prev {
        left: 0%;
      }

      .slick-next {
        right: 0%;
      }

      .slick-prev, .slick-next {
        font-size: 16px;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: #000;
        border: 1px solid #000;
        outline: none;
        background: transparent;
        z-index: 9;
      }

      .slick-prev:active, .slick-next:active {
        color: #fff;
        border: 1px solid #000;
        background: #000;
      }

      ///slick-prev slick-next end
    }

    /* --- gallery end ------------------------------------------------*/
  }
  @media (max-width: 1024px) {
    .mattress-block {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 991px) {
    text-align: center;
  }

  @media (max-width: 400px) {
    .mattress-title {
      font-size: 27px;
    }
  }

  @media (max-width: 991px) {
    text-align: center;

     .gallery .slick-prev,  .gallery .slick-next {
      top: 58%;
    }

     .gallery .slick-prev {
      left: 0%;
    }

     .gallery .slick-next {
      right: 0%;
    }

    .gallery-image {
      z-index: 11 !important;
      max-width: 100% !important;
      max-height: 100% ;
      filter: opacity(100%) !important;
    }

  }

  @media (max-width: 768px) {
     .gallery .slick-prev,  .gallery .slick-next {
      top: 56%;
    }
  }


  @media (max-width: 576px) {
     .gallery .slick-prev,  .gallery .slick-next {
      top: 50%;
    }
  }



}

//////////////////////MATTRESS END//////////////////////

//////////////////////CERTIFICATES BEGIN//////////////////////

.certificates {
  padding-top: 74px;
  padding-bottom: 98px;
  background: linear-gradient(90deg, #F0ECDD 0%, #FFFFF4 49.93%, #FFFFF4 64.36%, #EAE5D5 100%);

  .certificates-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #340F0F;
    margin-bottom: 47px;
  }

  /* --- gallery Start ------------------------------------------------*/
  .gallery {
    position: relative;
    margin-bottom: 0;

    .gallery.second {
      margin-bottom: 0;
    }

    .gallery__partners {
      z-index: 1;
    }

    .gallery-image {
      position: relative;
      outline: none;
      margin-top: 45px;
      margin-bottom: 45px;
      z-index: -1;
      //max-width: 362px;
      //max-height: 184px;
      filter: opacity(50%);

      .btn {
        position: absolute;
        padding: 12px 72px;
        bottom: -4px;
        left: -4px;
        background-color: #FEC940;
        border-radius: 0;
        display: none;

        span {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 15px;
          line-height: 33px;
          text-align: center;
          color: #000000;
        }
      }

      img {
        z-index: 1;
        margin-left: auto;
        border-style: none;
        margin-right: auto;
        width: 70%;
      }
    }

    //.slick-track  {
    //  opacity: 1;
    //  width: 5328px;
    //  transform: translate3d(-1204px, 0px, 0px) !important;
    //}

    ///slick-center

    .slick-center {
      transition: .3s;
      transform: scale(1.3);
      z-index: 9;
      position: relative;
      filter: opacity(100%);
    }

    ///slick-center end

    ///slick-prev slick-next

    .slick-prev:before, .slick-next:before {
      font-size: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev, .slick-next {
      font-size: 16px;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0;
      transform: translate(0, -50%);
      cursor: pointer;
      color: #000;
      border: 1px solid #000;
      outline: none;
      background: transparent;
      z-index: 9;
    }

    .slick-prev:active, .slick-next:active {
      color: #fff;
      border: 1px solid #000;
      background: #000;
    }

    ///slick-prev slick-next end
  }

  /* --- gallery end ------------------------------------------------*/

  @media (max-width: 400px) {
    .certificates-title {
      font-size: 27px;
    }
  }
}

//////////////////////CERTIFICATES END//////////////////////

//////////////////////REVIEWS BEGIN//////////////////////

.reviews {
  background-color: #000;
  padding-top: 48px;
  padding-bottom: 108px;
  position: relative;

  .reviews-title {
    display: flex;
    align-items: center;

    .image {
      max-width: 84px;
      max-height: 84px;
      margin-right: 31px;
      margin-bottom: 24px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
    }

    .name {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 0 0 11px;
    }

    .data {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0;

    }
  }
  .reviews-text {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 365px;
  }


  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev.slick-arrow {
    left: 88% !important;
  }

  .slick-next {
    right: 0% !important;
  }

  .slick-prev, .slick-next {
    font-size: 16px;
    line-height: 0;
    position: absolute;
    top: 122%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 9;
  }

  .slick-prev:active, .slick-next:active {
    color: #000;
    border: 1px solid #fff;
    background: #fff;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    border: 1px white solid;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 15px;
  }

  .slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    border: 1px white solid;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
  }

  .slick-dots {
    position: absolute;
    bottom: -29%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }

  .slick-dots li button:before {
    content: "";
  }

  @media (max-width: 991px) {
    .reviews-body {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .slick-prev.slick-arrow {
      left: -1% !important;
    }
  }
  


  ///slick-prev slick-next end
}